# Node.js
node_modules/
.env
.env.local
npm-debug.log
yarn-error.log
.DS_Store
coverage/
tests-results.xml
*.tgz

# Next.js
.next/
out/
build/
*.next

# Vercel
.vercel

# Prisma
prisma/migrations/dev.db
prisma/migrations/dev.db-journal